---
title: Index page
permalink: /
---
!!!
%html{lang: 'en'}
  %head
    %title AAS QR Code
    %link{rel: 'icon', href: 'data:,'}
    %script{crossorigin: 'anonymous', integrity: 'sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=', src: 'https://code.jquery.com/jquery-3.7.1.js'}
    %script{src: 'js/qrcode.js'}
    %script{src: 'js/jquery.qrcode.js'}
    %script{src: 'js/xlsx.full.min.js'}
    %script{src: 'js/index.js'}
  %body
    #qrcode
      .label